:root {
  --cui-table-cell-padding: 7px 12px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table th,
table td {
  user-select: text;
  text-align: center;
  border: 1px solid var(--cui-black-color-100);
  font-size: 10.5pt;
  padding: var(--cui-table-cell-padding)
}

@media(prefers-color-scheme: dark) {
  table th,
  table td {
    border-color: var(--cui-black-color-900);
  }
}

table th {
  font-weight: bold;
  font-size: 12pt;
  text-transform: uppercase;
}

table tr._isHoverable:hover td {
  background: var(--cui-black-color-50);
  cursor: pointer;
}

@media(prefers-color-scheme: dark) {
  table tr._isHoverable:hover td {
    background: var(--cui-black-color-900);
  }
}
